/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&family=Ubuntu&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
 /* header area start  */
 .container{
    width: 80%;
    margin: 30px 30px 30px 92px

 }
 .greatest{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: black;
    color: white;
    padding: 20px 20px 0;
    border-radius: 10px;
    
 }
 .greatest-text h1{
    font-size: 48px;
    font-weight: 600;
 }
 .greatest-text p{
    font-size: 16px;
    font-weight: 500;
    color: gray;
 }
 .greatest-image img{
    width: 100%;
    margin-top: 40px;
 }

 .button-area{
    display: flex;
    width: 150px;
    height: 40px;
    background-color: red;
    align-items: center;
    margin-bottom: 20px;
   
    
 }
 .button-text a{
    text-decoration: none;
    color: rgb(233, 230, 230);
    margin-right: 10px;
    margin-left: 20px;
    font-size: 18px;
 }

 /* header area end   */



 /* main area start   */
 .main-section{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-row-gap: 10px;
 }
 .three-column{
    background-color:black;
    height: 200px;
    border-radius: 5px;
    margin-right: 10px;
 }
 .main-navigation{
    background-color: white;
    width: 80%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 12px;
    text-align: center;
    border-radius: 5px;
 }
 .main-navigation a{
    text-decoration: none;
    font-weight: 600;
 }

 .all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

 }
 .player{
    border: 1px solid rgb(235, 230, 230);
    border-radius: 5px;
    padding: 5px;
 }
 .player img{
    width: 100%;
   
 
 }
 .transfer{
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid rgb(70, 68, 68);
    width: 85px;
    text-align: center;
    border-radius: 5px;
    

 }
 .transfer a{
    text-decoration: none;
    display: block;
    padding: 5px 0;
    
 }
 .player h3{
    font-size: 20px;

 }
 .player span{
    margin-left: 20px;

 }

 /* main area end   */


 /* footer area start  */

 footer{
    background-color: black;
    color: white;
    
 }
 .footer-section{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
 }
 .footer-section h3{
    font-size: 38px;
 }
 .footer-section hr{
    margin-bottom: 20px;
 }
 .footer-section a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
 }
 .footer-icon{
    margin-top: 20px;
 }
 /* footer area end  */